@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.Oceania {
  fill: #333333;
}

.Europe{
  fill: #ffe500;
}

[class="North America"]{
  fill: #005689;
}

.Asia {
  fill: #df2770;
}

.Africa {
  fill: #2badbc;
}

[class="Middle East"]{
  fill: #ff7f0f;
}

[class="South America"]{
  fill: #00b2ff;
}

.Seven-seas-open-ocean {
  fill: #999999
}
